body {
  width: 100%; }

.margin {
  width: 1200px;
  margin: 0 auto; }

#infor {
  width: 1040px;
  height: 550px;
  margin: 20px auto;
  border: 2px solid #e8e8e8; }
  #infor .images .s_box {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 200px;
    top: 200px; }
    #infor .images .s_box img {
      width: 400px;
      height: 400px; }
    #infor .images .s_box span {
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      height: 100px;
      background: rgba(200, 200, 200, 0.5);
      display: none; }
    #infor .images .s_box span.active {
      display: block; }
  #infor .images .b_box {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 200px;
    left: 650px;
    overflow: hidden;
    display: none;
    z-index: 1; }
    #infor .images .b_box img {
      position: absolute;
      width: 800px;
      height: 800px; }
  #infor .xiang {
    margin: 50px 145px 0 0;
    float: right; }
    #infor .xiang p {
      width: 400px;
      display: block;
      font: 600 16px/2 "";
      color: #3c3c3c;
      margin-bottom: 30px; }
    #infor .xiang span {
      display: block;
      font: 20px/56px "";
      color: #ff4400;
      background: #fff2e8;
      padding-left: 20px;
      margin-bottom: 30px; }
    #infor .xiang .number {
      width: 102px;
      height: 26px;
      border: 1px solid #ccc;
      margin-bottom: 30px; }
    #infor .xiang .buy {
      width: 136px;
      height: 40px;
      font: 16px/38px "";
      color: #e5511d;
      background: #ffe4d0;
      border: 1px solid #f0cab6;
      margin-bottom: 30px; }
    #infor .xiang .tocar {
      width: 136px;
      height: 40px;
      font: 16px/38px "";
      color: #fff;
      background: #ff4400;
      border: none;
      margin-left: 15px; }
    #infor .xiang a {
      font: 16px/2 "";
      color: #ff4400;
      display: block; }

#tab {
  width: 1040px;
  border: solid 1px #e5e5e5;
  margin: 30px auto; }
  #tab ul {
    height: 46px;
    text-align: center;
    display: flex;
    background: #f6f6f6;
    border: solid 1px #e5e5e5; }
  #tab ul li {
    border-right: solid 1px #e5e5e5;
    border-left: solid 1px #e5e5e5;
    color: #3c3c3c;
    font: 14px/46px "";
    padding: 0 16px;
    cursor: pointer; }
  #tab ul li.active {
    background: #fff;
    color: #ff4400; }
  #tab .cont .msg {
    display: none;
    padding-left: 50px; }
  #tab .cont .msg:nth-child(1) {
    display: block; }
