body {
  width: 100%;
  background: #f5f5f5; }

.margin {
  width: 980px;
  margin: 0 auto; }

#l-top {
  overflow: hidden;
  margin-top: 11px; }
  #l-top .logo {
    float: left;
    display: block; }
  #l-top span {
    float: right;
    font: 12px/76px "";
    color: #666; }
    #l-top span a {
      font: 12px/76px "";
      color: #0078c6; }

#l-main {
  width: 980px;
  background: #fff;
  height: 480px; }
  #l-main form {
    height: 300px;
    float: left;
    margin: 40px 0 0 50px;
    padding: 25px 0 0 20px; }
    #l-main form label {
      width: 70px;
      display: inline-block;
      font: 14px/38px "";
      color: #333;
      text-align: right; }
    #l-main form span {
      font: 16px/48px "";
      color: #666; }
    #l-main form input {
      width: 296px;
      height: 38px;
      border: 1px solid #c4c4c4;
      margin-bottom: 30px;
      padding-left: 10px;
      border-radius: 6px; }
    #l-main form .vcode {
      width: 126px; }
    #l-main form .btn {
      width: 120px;
      height: 40px;
      font: 18px/40px "";
      color: #fff;
      background: #ef3831;
      margin-left: 100px; }
    #l-main form .yzh {
      width: 120px;
      height: 38px;
      border: 1px solid #c4c4c4;
      border-radius: 6px;
      display: inline-block;
      font: 12px/40px "";
      background: #f6f6f6;
      text-align: center;
      margin-left: 40px; }
  #l-main img {
    float: right;
    width: 450px;
    height: 250px;
    margin: 100px 50px 0 0; }
